*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}

/* Navbar Start */
/* .top-header{
    padding: 1rem;
} */
.top-header-container{
    height: 50px;
}
.logo{
    width: 30%;
    background-color: #013564;
    padding: 10px;
}
.logo img{
    width: 40%;
    padding-left: 3rem;
}
.marq{
    width: 40%;
    background-color: #d9e255;
}
.top-header-icons{
    width: 30%;
    background-color: #013564;
}
.top-header-container{
    display: flex;
    justify-content: space-around;
}
.marq{
    padding-top: 15px;
    font-size: 13px;
}
.top-header-icons{
    text-align: right;
}
.top-header-icons i{
    color: #fff;
    font-size: 20px;
    padding-top: 13px;
    margin-right: 15px;
}

/* bottom navbar */
.navbar {
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.075);
}
.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar-menu li {
    position: relative;
    font-size: 12px;
}
.navbar-menu a {
    display: block;
    padding: 15px 20px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}
.navbar-menu a:hover {
    color: #ff0000; /* Optional hover effect */
}
.dropdown-content {
    display: none;
    position: absolute;
    /* top: 100%; */
    left: 0;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
}
.dropdown-content .dropdown-left,
.dropdown-content .dropdown-right {
    padding: 15px;
    width: 100%;
}
.dropdown-content h3{
    font-size: 14px;
}
.dropdown-content .dropdown-left ul,
.dropdown-content .dropdown-right ul {
    list-style-type: none;
    padding: 0;
}

.dropdown-content .dropdown-left li,
.dropdown-content .dropdown-right li {
    font-size: 12px;
}

.dropdown-content .dropdown-left a,
.dropdown-content .dropdown-right a {
    text-decoration: none;
    color: #333;
}

.dropdown-content .dropdown-left a:hover,
.dropdown-content .dropdown-right a:hover {
    color: #ff0000;
}

.dropdown-image {
    width: 100%;
    padding: 15px;
    text-align: center;
}

.dropdown-image img {
    width: 100%;
    max-width: 900px;
    height: auto;
    border-radius: 5px;
}
.dropdown-image a:hover {
    background-color: #5f8633;
}

.dropdown:hover .dropdown-content {
    display: block;
    display: flex;
    width: 700px;
}

/* Navbar End */