*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}

/* Navbar Start */
.top-header-container{
    height: 50px;
}
.logo{
    width: 30%;
    background-color: #013564;
    padding: 10px;
}
.logo img{
    width: 40%;
    padding-left: 3rem;
}
.marq{
    width: 40%;
    background-color: #d9e255;
}
.top-header-icons{
    width: 30%;
    background-color: #013564;
}
.top-header-container{
    display: flex;
    justify-content: space-around;
}
.marq{
    padding-top: 15px;
    font-size: 13px;
}
.top-header-icons{
    text-align: right;
}
.top-header-icons i{
    color: #fff;
    font-size: 20px;
    padding-top: 13px;
    margin-right: 15px;
}

/* bottom navbar */
.navbar {
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.075);
}
.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar-menu li {
    position: relative;
    font-size: 12px;
}
.navbar-menu a {
    display: block;
    padding: 15px 20px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}
.navbar-menu a:hover {
    color: #ff0000; /* Optional hover effect */
}
.dropdown-content {
    display: none;
    position: absolute;
    /* top: 100%; */
    left: 0;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
}
.dropdown-content .dropdown-left,
.dropdown-content .dropdown-right {
    padding: 15px;
    width: 100%;
}
.dropdown-content h3{
    font-size: 14px;
}
.dropdown-content .dropdown-left ul,
.dropdown-content .dropdown-right ul {
    list-style-type: none;
    padding: 0;
}

.dropdown-content .dropdown-left li,
.dropdown-content .dropdown-right li {
    font-size: 12px;
}

.dropdown-content .dropdown-left a,
.dropdown-content .dropdown-right a {
    text-decoration: none;
    color: #333;
}

.dropdown-content .dropdown-left a:hover,
.dropdown-content .dropdown-right a:hover {
    color: #ff0000;
}

.dropdown-image {
    width: 100%;
    padding: 15px;
    text-align: center;
}

.dropdown-image img {
    width: 100%;
    max-width: 900px;
    height: auto;
    border-radius: 5px;
}
.dropdown-image a:hover {
    background-color: #5f8633;
}

.dropdown:hover .dropdown-content {
    display: block;
    display: flex;
    width: 700px;
}
.search input{
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    border: #c4c4c4 1px solid;
}
.search input::placeholder{
    font-size: 11px;
    letter-spacing: 1px;
}
.search i{
    margin-right: 10px;
}
.toggle-btn{
    display: none;
}
/* Media query for max-width 768px */
@media (max-width: 768px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
        background-color: #fff;
        right: 0;
        height: auto;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .logo img{
        width: 70%;
        padding-left: 3rem;
    }
    .navbar-menu.show {
        display: flex;
    }

    .toggle-btn {
        display: block;
    }

    .navbar-menu li {
        margin: 1rem;
        text-align: center;
    }
    .top-header-icons i{
        font-size: 20px;
    }
}

/* Media query for max-width 425px */
@media (max-width: 425px) {
    .navbar-menu {
        width: 100%;
    }
    .logo img{
        width: 80%;
        padding-left: 10px;
    }
    .search {
        display: none;
    }

    .navbar-menu.show {
        padding: 1rem 0;
    }

    .navbar-menu li {
        margin: 0.5rem 0;
    }
    .top-header-icons i{
        font-size: 10px;
    }
}
/* Navbar End */


/* Home Page Start */
.homepage{
    padding-top: 2rem;
}
.homepage-container{
    display: flex;
    justify-content: space-around;
}
.child-homepage img{
    border-radius: 50%;
}

/* Media Query for max-width 768px */
@media only screen and (max-width: 768px) {
    .homepage-container {
        justify-content: space-around;
        padding: 2rem;
    }
    
    .child-homepage {
        flex-basis: 45%;
        margin-bottom: 15px;
    }
    .child-homepage h6 {
        font-size: 14px;
    }
}

/* Media Query for max-width 425px */
@media only screen and (max-width: 425px) {
    .homepage-container {
        flex-direction: column;
        align-items: center;
    }

    .child-homepage {
        flex-basis: 100%;
        margin-bottom: 10px;
    }

    .child-homepage h6 {
        font-size: 12px;
    }
    .child-homepage img{
        margin-top: 1rem;
    }
}
/* Home Page End */



/* Banner Start */
.banner{
    padding: 2rem;
}
.slideshow-container {
    position: relative;
    margin: auto;
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
/* Banner End */



/* Home Decor Start */
.homedecor{
    margin-top: 2rem;
    background-color: #f7f7f7;
    padding: 2rem;
}
.homedecor-container h2{
    text-align: center;
    color: #013564;
    font-size: 30px;
    letter-spacing: 1px;
}
.child-homedecor{
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    padding: 0 8rem 0 8rem;
}
.child-homedecor img{
    border-radius: 15px;
    width: 90%;
}
@media (max-width: 768px) {
    .homedecor-container h2 {
        font-size: 1.5rem; /* Decrease font size */
    }

    .child-homedecor {
        display: flex;
        flex-direction: column; /* Stack images vertically */
        align-items: center; 
    }

    .child-homedecor div {
        width: 100%; /* Make the images full width */
    }

    .child-homedecor img {
        width: 100%; /* Ensure images scale to full width */
        height: auto;
        margin-top: 2rem;
    }
}

/* Home Decor End */


/* Best Seller Start */
.bestseller{
    padding: 2rem;
}
.bestseller-heading{
    display: flex;
    justify-content: space-between;
}
.bestseller-heading h2{
    color: #013564;
    font-size: 30px;
    letter-spacing: 1px;
}
.bestseller-heading button{
    padding: 8px 15px;
    background-color: #fff;
    color: #013564;
    border: #013564 1px solid;
    font-weight: 500;
    margin-right: 10px;
}
.child-bestseller{
    text-align: center;
    margin-right: 10px;
    padding: 10px;
    box-shadow: 0 8px 16px rgba(58, 58, 58, 0.089);
}
.child-bestseller img{
    width: 90%;
    margin-top: 1rem;
}
.child-bestseller h4{
    margin-bottom: 1rem;
}
.bestseller-images{
    display: flex;
}
#ml{
    width: 230px;
    padding: 8px 20px;
}
#numbers{
    padding: 7px 7px;
}
.child-bestseller button{
    padding: 8px 20px;
    background-color: #fff;
    border: #8d8d8d 1px solid;
    width: 100%;
    cursor: pointer;
}
.child-bestseller button:hover{
    background-color: #013564;
    color: #fff;
}

/* Media query for max-width: 768px */
@media screen and (max-width: 768px) {
    .bestseller-images {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .child-bestseller {
        width: 48%; 
        margin-bottom: 20px;
    }
    #ml{
        width: 130px;
        padding: 4px 10px;
    }
    #numbers{
        padding: 4px 4px;
    }
    .child-bestseller button{
        padding: 6px 10px;
        background-color: #fff;
        border: #8d8d8d 1px solid;
        width: 80%;
        cursor: pointer;
    }
    .bestseller-heading h2{
        font-size: 15px;
    }
    .bestseller-heading button{
        padding: 5px 10px;
        background-color: #fff;
        color: #013564;
        border: #013564 1px solid;
        font-weight: 300;
    }
}

/* Media query for max-width: 425px */
@media screen and (max-width: 425px) {
    .bestseller-images {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .child-bestseller {
        width: 100%; /* Full width in a single column */
    }
    #ml{
        width: 70px;
        padding: 2px 5px;
    }
    #numbers{
        padding: 2px 2px;
    }
    .child-bestseller button{
        padding: 3px 5px;
        background-color: #fff;
        border: #8d8d8d 1px solid;
        width: 70%;
        cursor: pointer;
    }
}

/* Best seller End */



/* Cook Start */
.cook{
    padding: 2rem;
    margin-top: 1rem;
}
.cook-container h2{
    margin-bottom: 2rem;
    text-align: center;
    color: #013564;
    font-size: 30px;
}
.cook-images{
    display: flex;
}
.cook-images img{
    width: 15.5%;
    margin-right: 16px;
    border-radius: 10px;
}

/* Media Query for screens with max-width 768px */
@media (max-width: 768px) {
    .cook-images {
        margin: 2rem;
    }
    .cook-container h2{
        font-size: 15px;
    }
}
/* Media Query for screens with max-width 425px */
@media (max-width: 425px) {
    .cook-images {
        flex-direction: column; /* Stack images vertically */
    }
    .cook-container h2{
        font-size: 15px;
    }
    .cook-images img {
        width: 100%; /* Each image takes up the full width */
        margin-top: 20px;
    }
}

/* Cook End */